.todo-card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    max-width: 400px;
}


.todo-card_top-options {
    display: flex;
    justify-content: space-between;
}

.todo-card_top-options img{
    height: 25px;
    margin-left: 20px;
    border-radius: 24px;
}

.todo-card_content{
    margin: 5px 0px;
    width: 100%;
    font-family: var(--font-family);
}

.todo-card_content_done{
    text-decoration: line-through;
}

.todo-card_bottom-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-card_bottom-options div{
    height: 80%;
    background-color: var(--primary-color);
    border-radius:5px 12px 12px 5px ;
    padding: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    font-family: var(--font-family);
    font-size: 0.8rem;
}

.todo-card_bottom-options_done button{
    background-color: white;
}